/* Kategori scroll horizontal */
body{
  overflow-x: hidden;
  padding-bottom: 4.4375rem;
}

h1{
  font-size: 28px;
}

.category-block:focus {
  background-color:yellow;
}

.scroll-block {
  padding-top: 50px;
  text-align: center;
  font-family: sans-serif;
}
.category-block {
  display: inline-block;
  text-decoration: none;
  padding-bottom: 5px;
  padding-top: 5px;
}
.category-block:hover {
  text-decoration: none;
}
.scroll-category {
  color: #646080;
  background-color: #e9e9e9;
  padding: 6px 14px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  border: 1px solid #b0b0bd;
}
.scroll-category.active {
  background: rgb(173, 95, 169);
  color: rgb(255, 255, 255);
}
.categories-block {
  margin-top: 10px;
  overflow: auto;
  white-space: nowrap;
}
.categories-block::-webkit-scrollbar {
  height: 8px;
  background-color: #e9e9e9;
  margin-top: 5px;
}
.categories-block::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #e9e9e9;
}

/* Forside.css */

.forside-container {
  text-align: center;
  width: 100%;
  overflow-x: hidden;
  padding-bottom: 80px; /* Ekstra plads til BottomNav */
}
  
  .forside-container h1 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    justify-items: center;
    width: 100%;
  }
  
  .grid-item {
    text-align: center;
  }
  
  .image-placeholder {
    padding: 0;
    width: 150px;
    height: 150px;
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #bbb;
  }
  
  .grid-item p {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
  }
  
