/* Basic Reset */
main {
  padding-bottom: 4.4375rem;
  padding-top: 1.25rem;
}

body,
html {
  overflow-x: hidden;
  margin: 0;
}

/* Main Container */
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

/* Search Bar and Location Container */
.search-container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 6px;
  box-sizing: border-box;
  gap: 10px; /* Space between search bar and location */
}

.search-bar {
  flex: 8;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.search-bar input {
  width: 100%;
  padding: 12px;
  border-radius: 24px;
  border: 1px solid #e0e0e0;
  background-color: #f7f7f7;
  font-size: 16px;
  color: #646080;
  outline: none;
}

.search-bar input::placeholder {
  color: #b0b0bd;
}

.lokation {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lokation img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

/* Scrollable Categories */
.categories-block {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding: 8px 8px;
  scrollbar-width: thin;
  width: 100%;
}

.categories-block::-webkit-scrollbar {
  height: 8px;
}

.categories-block::-webkit-scrollbar-thumb {
  background-color: #d1d1d1;
  border-radius: 10px;
}

.scroll-category {
  color: 000000;
  background-color: rgba(31, 67, 7, 0.3);
  padding: 6px 14px;
  border-radius: 20px;
  margin-right: 10px;
  border: 1px solid #b0b0bd;
  font-size: 14px;
  flex-shrink: 0;
}

/* Forside Content */
.forside-container {
  text-align: center;
  width: 100%;
  padding: 0 8px;
}

.forside-container h1 {
  font-size: 16px;
  margin: 20px 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  justify-items: center;
  width: 100%;
}

.grid-item {
  text-align: center;
}

.image-container {
  position: relative;
  display: inline-block;
}

.image-placeholder {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border: 1px solid #ccc;
  background-color: #e0e0e0;
  border-radius: 5px;
}

.grid-item p {
  font-size: 16px;
  color: #333;
}

/* Badge Styling */
.badge {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: rgba(31, 67, 7, 0.3);
  color: white;
  padding: 2px 4px;
  border-radius: 12px;
  font-size: 0.8em;
  font-weight: bold;
}

/* Heart Button Styling */
.heart-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
}

.heart-icon {
  font-size: 24px;
  color: rgba(128, 128, 128, 0.5); /* Semi-transparent gray */
  transition: color 0.3s ease, transform 0.3s ease;
}

.heart-icon.liked {
  color: #a53535; /* Softer, more pleasant red */
  transform: scale(1.2); /* Slight pop effect */
}
