.loading-screen {
  width: 100vw;
  height: 100vh;
  background-image: url("/img/loading.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 80vw;
  max-width: 500px; /* Ensure it doesn’t exceed the container width */
  height: auto; /* Maintain aspect ratio */
  animation: bounce 1s infinite; /* Tilføjer en hoppende animation */
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-8px);
  }
}
