/* Nulstil margin og padding for at fjerne luft omkring containeren */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
}

.onboarding-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 0;
  text-align: center; /* Tilføj dette for at centrere tekst */
}

.terms-container {
  max-width: 400px;
  width: 100%;
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.terms-container h1 {
  font-size: 20px;
  font-weight: bold;
  color: #000;
  margin-bottom: 15px;
}

.terms-list {
  list-style-type: disc;
  padding-left: 20px;
  margin: 0;
  color: #333;
  font-size: 16px;
  text-align: left;
}

.switches {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.switches div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.switches span {
  color: #333;
  font-size: 16px;
}

.accept-button {
  width: 100%;
  padding: 15px;
  margin-top: 20px;
  color: white;
  background-color: #1f4307;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.image-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-left: 20px; /* Juster efter behov */
  padding-right: 20px; /* Juster efter behov */
  box-sizing: border-box; /* Sørger for, at padding ikke ændrer bredden */
  background-color: #ffffff;
}

.image-slide img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 12px;
  margin: 0 auto; /* Sørger for at billedet er centreret */
  object-fit: cover;
}

.image-slide h2 {
  font-size: 1.5rem;
  color: #000000;
  margin-bottom: 10px; /* Space between heading and image */
}

.image-slide p {
  font-size: 1rem;
  color: #000000;
}

.onboarding-image-1 {
  width: 100%; /* Juster bredde, hvis nødvendigt */
  max-width: 300px; /* Juster maksimal bredde for billede 1 */
  height: auto; /* Behold aspektforholdet */
}

.onboarding-image-2 {
  width: 100%; /* Juster bredde, hvis nødvendigt */
  max-width: 600px; /* Juster maksimal bredde for billede 2 */
  height: auto; /* Behold aspektforholdet */
}

.onboarding-image-3 {
  width: 100%; /* Juster bredde, hvis nødvendigt */
  max-width: 600px; /* Juster maksimal bredde for billede 2 */
  height: auto; /* Behold aspektforholdet */
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #333; /* Juster farve efter behov */
}

.close-button:hover {
  color: #555; /* Juster hover-farve efter behov */
}

.pagination-dots {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: #ddd;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s;
}

.dot.active {
  background-color: #333; /* Adjust this color for active dot */
}
