body {
    margin:0;
    padding-bottom: 61px;
}

.profil-container {
    margin:0;
    padding:0;
    background-color: #d9d9b2;
    padding-bottom: 80px;
    overflow-x:hidden;
} 

.profil-header {
    display: flex;
    align-items: center; /* Centers items vertically on the same line */
    justify-content: center; /* Centers the h1 horizontally */
    font-size: 24px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 15px;
    position: relative; /* Allows absolute positioning for the button */
    padding: 10px 0;
}

#back-button {
    padding-bottom: 20px;
}

.back-button {
    font-size: 16px;
    background: none;
    border: none;
    position: absolute; /* Absolutely positioned to the left */
    left: 20px; /* Adjust this value to set the distance from the left edge */
    transform: translateY(0); /* Fine-tune vertical alignment, if needed */
}

.profile-info {
    display: flex;
    align-items: center;
    padding: 10px 0;
    background-color: #8c9771;
    color: white;
    margin-bottom: 20px;
}

.profile-picture {
    margin-right: 15px; /* Adds spacing between the picture and the name */
}

.profile-name {
    display: flex;
    flex-direction: column; /* Stacks the p and span vertically */
    text-align: left; /* Ensures text is aligned to the left */
}

.profile-name p {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.profile-name span {
    margin: 0;
    font-size: 18px;
}


.profile-options, .profile-extras, .profile-holiday {
    margin-top: 20px;
}

.option-button {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #d9d9b2;
    color: black;
    text-align: left;
    border: none;
    border-bottom: 1px solid #ffffff;
    font-size: 18px;
    cursor: pointer;
}
  
.profile-picture img {
    width: 6.25rem;
}